{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <th>{{ _('Sr') }}</th>
                <th>{{ _('Image') }}</th>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Price') }}</th>
                <th>{{ _('Quantity') }}</th>
                <th>{{ _('Discount') }}</th>
                <th>{{ _('Subtotal') }}</th>
                <th>{{ _('Update') }}</th>
                <th>{{ _('Delete') }}</th>
            </thead>
            <tbody>
                {% for key, product in session['Shoppingcart'].items() %}
                {% set discount =(product.discount/100) * product.price|float %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><img src="{{url_for('static',filename='product_images/'+ product.image)}}" alt="{{product.name}}" width="50" height="45" style="object-fit: contain;"></td>
                    <td>{{product.name}}</td>
                    <form action="{{url_for('updatecart', code=key)}}" method="post">
                    <td>${{"%.2f"|format(product.price)}}</td>
                    <td> <input type="number" name="quantity" min="1" max="10" value="{{product.quantity}}"> </td>
                    {% if product.discount  %}
                    <td>{{product.discount}} % &nbsp; &nbsp; = {{"%.2f"|format(discount)}}</td>
                    {% else %}
                    <td>{{ _('None') }}</td>
                    {% endif %}
                    {% set subtotal = product.quantity|int * product.price|float  %}
                    <td>${{"%.2f"|format(subtotal - discount|round(1,'floor')) }}</td>
                    <td><button type="submit" class="btn btn-sm btn-info">{{ _('Update' ) }}</button> </td>
                </form>
                    <td> <a href="{{url_for('deleteitem', id=key)}}" class="btn btn-sm btn-danger">{{ _('Delete') }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-sm">
           <tr>
               <td> <a href="{{url_for('get_order')}}" class="btn btn-success">{{ _('Order now') }} </a> </td>
               <td width="35%"></td>
               <td> <h5>{{ _('Grand total:') }} ${{grandtotal}}</h5> </td>
                <td> <a href="{{url_for('clearcart')}}" class="btn btn-danger btn-sm float-right mr-4">{{ _('Clear cart') }}</a> </td>
           </tr>
        </table>
    </div>
  </div>
</div>
{% endblock content %}
