{% extends 'layout.html' %}
{% block content %}
{% include 'admin/adminnavbar.html' %}

<div class="container">
    {% include '_messages.html' %}
    <table class="table table-sm">
        <thead>
            <th>Sr</th>
            <th>Ady</th>
            <th>Dogrula</th>
            <th>Pozmak</th>
        </thead>
        <tbody>
          {% for banner in banners %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{ banner.name }}</td>
            <td> <a href="{{url_for('updatebanner', id=banner.id)}}" class="btn btn-sm btn-info">Dogrula</a></td>
            <td>
              <form action="{{url_for('deletebanner',id=banner.id)}}" method="post">
                <button type="submit" class="btn btn-danger">Hovva</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
