{% extends 'layout.html' %}
{% block content %}
{% include 'admin/adminnavbar.html' %}

<div class="container">
    {% include '_messages.html' %}
    <table class="table table-sm">
        <thead>
            <th>Sr</th>
            <th>Ady</th>
            <th>Telefon</th>
            <th>Adresi</th>
            <th>Paroly</th>  
            <th>Pozmak</th>
        </thead>
        <tbody>
          {% for customers in customers %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{ customers.name }}</td>
            <td>{{ customers.contact }}</td>
            <td>{{ customers.address }}</td>
            <td>{{ customers.password }}</td>
            <td>
              <form action="{{url_for('deletecustomer',id=customers.id)}}" method="post">
                <button type="submit" class="btn btn-danger">Hovva</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
