{% extends 'layout.html' %}
{% block content %}
<div class="container">
    {% include '_messages.html' %}
    {% include 'admin/adminnavbar.html' %}

    <table class="table table-sm">
        <thead>
            <th>T/B</th>
            <th>Surat</th>
            <th>Ady</th>
            <th>Bahasy</th>
            <th>Skidka?</th>
            <th>Kategoriya</th>
            <th>Dogrula</th>
            <th>Pozmak</th>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>{{loop.index}}</td>
            <td> <img src="{{url_for('static',filename='product_images/' + product.image_1)}}" alt="{{product.name}}" width="80" height="60" style="object-fit: contain;"></td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }} manat</td>
            <td>{{ product.discount }}</td>
            <td>{{ product.category.name}}</td>
            <td> <a href="{{url_for('updateproduct', id=product.id)}}" class="btn btn-sm btn-info">Edit </a> </td>
            <td>
              <form action="{{url_for('deleteproduct',id=product.id)}}" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
          </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
